<!DOCTYPE html>
<html>
<head>
    <title>Edit Transaction</title>
</head>
<body>

<h2>Edit Transaction</h2>

<form action="/update/{{ data[0] }}" method="POST">

    <label>Amount:</label><br>
    <input type="number" name="amount" value="{{ data[1] }}" required><br><br>

    <label>Category:</label><br>
    <select name="category">
        <option {% if data[2] == 'Food' %}selected{% endif %}>Food</option>
        <option {% if data[2] == 'Travel' %}selected{% endif %}>Travel</option>
        <option {% if data[2] == 'Shopping' %}selected{% endif %}>Shopping</option>
        <option {% if data[2] == 'Other' %}selected{% endif %}>Other</option>
    </select><br><br>

    <label>Date:</label><br>
    <input type="date" name="date" value="{{ data[3] }}" required><br><br>

    <button type="submit">Update</button>

</form>

<br><br>

<a href="/view">⬅ Back to Transactions</a>

</body>
</html>